/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Variables*/
@keyframes mainLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes subRightIn {
  0% {
    opacity: 1;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 0;
    transform: translate(0); } }

@keyframes buttonMoveIn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* 
    use position properties to moved element;
    use text-align properties to moved some text;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*inherit from body, cause body has majority element than universal '*' */ }

html {
  font-size: 62.5%;
  /*root element for declared rem; 1rem = root element declare*/
  /*change pixel into percentage %
      default browser font-size = 16px;
      our project is 10px;
      (10px/16px) * 100% = 62.5% 

    */ }

body {
  box-sizing: border-box; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: $default-font-size; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    /*cause we need the other element goes down, text by default is inline or capture all spaces*/
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    animation-name: mainLeftIn;
    animation-timing-function: ease-out;
    animation-duration: 2s; }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.3rem;
    font-weight: 700;
    font-size: 2rem;
    animation: subRightIn ease-out 2s; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  display: inline-block;
  background-image: linear-gradient(to Right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values*/
  border-radius: 10rem;
  transition: all .2s;
  /* allows you to change property values smoothly (from one value to another), over a given duration. */
  /* there is a lot of properties between class btn, there are transform and box shadow so better used transition  */
  position: relative;
  /*parent position*/
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: whitesmoke; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /*key of z-index*/
  top: 0;
  left: 0;
  z-index: -1;
  /*An element with greater stack order is always in front of an element with a lower stack order.*/
  /*Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed).*/
  transition: all .4s; }

.btn--animated {
  animation: buttonMoveIn .6s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:visited, .btn-text:link {
  font-size: 1.6rem;
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    font-size: 2rem;
    height: 52rem;
    width: 100%;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: url(../img/nat-5.jpg); }
    .card__picture--3 {
      background-image: url(../img/nat-5.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 55%;
    z-index: 1;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 2;
      outline: 1.3rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to Right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    font-size: inherit; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

.header {
  height: 95vh;
  /*vh : 1% of viewport*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /*fulfill the image like cover*/
  background-position: top;
  /*cause position img fixed at top*/
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    /*is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).*/
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /*to move & reach position from parent element*/
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*from current position to moving element based on parent element */ }

.row {
  max-width: 99.8rem;
  margin: 0 auto;
  color: #777; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }
