/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Variables*/
@keyframes mainLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes subRightIn {
  0% {
    opacity: 1;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 0;
    transform: translate(0); } }

@keyframes buttonMoveIn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* 
    use position properties to moved element;
    use text-align properties to moved some text;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*inherit from body, cause body has majority element than universal '*' */ }

html {
  font-size: 62.5%;
  /*root element for declared rem; 1rem = root element declare*/
  /*change pixel into percentage %
      default browser font-size = 16px;
      our project is 10px;
      (10px/16px) * 100% = 62.5% 

    */ }

body {
  box-sizing: border-box; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    /*cause we need the other element goes down, text by default is inline or capture all spaces*/
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    animation-name: mainLeftIn;
    animation-timing-function: ease-out;
    animation-duration: 2s; }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.3rem;
    font-weight: 700;
    font-size: 2rem;
    animation: subRightIn ease-out 2s; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values*/
  border-radius: 10rem;
  transition: all .2s;
  /* allows you to change property values smoothly (from one value to another), over a given duration. */
  /* there is a lot of properties between class btn, there are transform and box shadow so better used transition  */
  position: relative;
  /*parent position*/
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: whitesmoke; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /*key of z-index*/
  top: 0;
  left: 0;
  z-index: -1;
  /*An element with greater stack order is always in front of an element with a lower stack order.*/
  /*Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed).*/
  transition: all .4s; }

.btn--animated {
  animation: buttonMoveIn .6s ease-out .75s;
  animation-fill-mode: backwards; }

.header {
  height: 95vh;
  /*vh : 1% of viewport*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /*fulfill the image like cover*/
  background-position: top;
  /*cause position img fixed at top*/
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    /*is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).*/
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /*to move & reach position from parent element*/
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*from current position to moving element based on parent element */ }

.row {
  max-width: 114rem;
  background-color: aqua;
  margin: 0 auto;
  color: #fff; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: #bcbdbd;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem)/4) + 2 * 6rem); }
