// import abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// import base
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// import components
@import "components/button";
@import "components/story";
@import "components/bg-video";
@import "components/card";
@import "components/composition";
@import "components/feature-box";

// import pages
@import "pages/home";

// import layout
@import "layout/header"; 
@import "layout/grid";
